nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Vote 'em' Up
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Home
        if user
          li(class=(title == 'New') ? 'active' : null)
            a(href='/new') New
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown
            a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.picture
                img(src=user.picture)
              else
                img(src=user.gravatar)
              | <span> #{user.name || user.email || user.id} </span>
              i.caret
            ul.dropdown-menu
              li
                a(href='/user/#{user.id}') My Polls
              li.divider
              li
                a(href='/account') My Account
              li
                a(href='/logout') Logout
        else
          li(class=(title == 'Log in') ? 'active' : null)
            a(href='/login') Log in
          li(class=(title == 'Sign up') ? 'active' : null)
            a(href='/signup') Sign up
