extends layout

block content
  .container-fluid
    h1.text-center #{title}
    hr
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg
    .row
      each item in polls
        .col-sm-4
          .panel
            .panel-body
              h3= item.title
              a.btn.btn-default(href='/poll/#{item.id}', role='button') View Poll