extends layout

block content
    .panel
      .panel-body
        form.form-horizontal(method='POST')
          legend New Poll
          .form-group
            label.col-sm-3(for='title') Title for the poll?
            .col-sm-7
              input.form-control(type='text', name='title', id='title')
          .form-group
            label.col-sm-3(for='options') Options - Seperated by a New Line Pls :)
            .col-sm-7
              textarea.form-control(type='text', rows='5', name='options', id='options')
          .form-group
            .col-sm-4.col-sm-offset-3
              button.btn.btn-success(type='submit') Go!