extends layout

block content 
    .container
        .panel
            .panel-body
                h1.text-center #{poll.title}
                hr
                br
                .col-md-4
                    h3 Vote!
                    hr
                    br
                    form(method="POST")
                          each opt in poll.optionsWithoutValue
                            .radio
                              label
                                input(type='radio', name='option' value='#{opt}')
                                | #{opt}

                               
                          if user
                            .radio
                              label
                                input(type='radio', name='option' value='otherSecretCodeSoIDontMessUp')
                                | Other
                                
                            label.control-label(for='other') Other
                            input(type='text', name="other", id='other')
                                
                          input.form-control.btn.btn-link(type='submit', name='submit', value='Vote!')
                    if poll.byUser
                      a.btn.btn-danger.text-center(href='delete/#{poll.id}') Delete
                      

                .col-md-8
                    #myDiv
                        if (empty)
                            br
                            h3.text-center Not Enought Votes Yet!
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    // Numeric JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js')
    script.
      var input = !{JSON.stringify(poll.options)};
      var data = [{
      values: [],
      labels: [],
      type: 'pie'
      }];
      
      console.log(data);
      
      for (var i = 0; i < input.length; i++) {
          data[0].values.push(input[i][1]);
          data[0].labels.push(input[i][0]);
      }
      function checkData(gdata){
          var empty = true;
          for (i = 0; i < gdata[0].values.length;  i++) {
              if (gdata[0].values[i] > 0) {
                  empty = false;
              }
          }
          if (!empty) {
             Plotly.newPlot('myDiv', gdata);
          }
          else {
              $('#myDiv').html('<h2>Not Enough Votes!</h2>');
          }
      }
      checkData(data)

