extends layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

       h2 You Already Voted!
       hr
       br
       h4 You can only vote once!